Assets/Objects/*/**
**/*.lnk
**/*.anim
**/*.trw
**/*.3ds
**/*.tga
**/*.sam
**/*.sfx
**/*.swd
**/*.wad
**/*.was
**/*.mqo
**/*.obj
**/*.mtl
**/*.xlsx
**/*.backup.prj2
**/*/savegame.*
/Levels/Demo/Assets/Outfits
/Levels/Demo/Assets/Textures
/Engine/Logs
/Engine/Save
/Engine/Screenshots
Assets/Objects/LaraOldTENPort.wad2
